@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-size: 0.85rem;
  
}

h1 {
    margin: 1rem ;
    font-weight: 700 ;
}